#header {
    background-color: pink;
    text-align: center;
    color: paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mint {
    text-align: center;
    text-indent: 1%;  
}


.list {
    text-indent: 1%;
    font-size: x-large;
}